# LLM Ayarları
# Eğer yerel (Ollama vb.) kullanmak istiyorsanız True, bulut (Groq, OpenAI vb.) kullanmak istiyorsanız False yapın.
USE_LOCAL_LLM=False

# Yerel LLM için Ollama Host ve Model Ayarları
OLLAMA_HOST=http://localhost:11434/v1
OLLAMA_MODEL=llama3.2

# Bulut LLM için (Groq veya OpenAI) API Key
OPENAI_API_KEY=your_api_key_here
